@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    background: url("https://images.pexels.com/photos/7452437/pexels-photo-7452437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center fixed;
    background-size: cover;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; Centers the image */
    height:100%;
    margin: 1px;
    padding: 3px;
}

input {
  font-family: 'Nunito', sans-serif;
}

#wrapper {
    gap: 20px;
    width: 90%;
    height: 100%; 
    margin: 0 auto;
    padding: 20px;
    display: grid;
    max-width: 1200px;
    overflow-y: auto; /* Enables vertical scrolling within the grid */
    flex-direction: column;
    grid-template-areas: 
        "header"
        "main"
        "section1"
        "section2"
        "footer";
    grid-template-rows: auto min-content 1fr 1fr auto;
    background-attachment: fixed; /* Keeps the background in place */

}

/* Header & footer styling */
header, footer {
    padding: 10px;
    grid-area: header;
    text-align: center;
    /* margin-top: auto;  */
    border-radius: 5px;
}

#city-name { 
  font-size: 35px; /* Increase font size for city name */
  font-weight: bold;
}

#current-date-time {
margin-top: 2px; /* Adds space above the search bar */
margin-bottom: 30px; /* Adds space below the time */
}

#weather-overview {
  grid-area: section1;
}

/* Section A: Display weather Overview Layout */
#weather-overview #weather-heading {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

#weather-heading #weather-condition-details {
  margin: auto 10px;
  font-size: 20px; /* Adjust font size for weather condition text */
  color: #ffffff;
  text-transform: capitalize; /* Capitalize the first letter of each word */
}

#weather-heading #weather-temperature-container {  
  font-size: 80px; /* font size for temperature */
  font-weight: bold;
}

#weather-details-top,
#weather-details-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adds space between the divs inside */
  margin: 1px;
  padding: 3px;
  align-items: center; /* Vertically centers the content */
}

/*  Section B: Display additional weather details & content */
#additional-weather-details {
  grid-area: section2;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  height: 100%; /* Ensures it takes up full height to center */
  width: 100%; /* Ensures it takes full width */
  flex-direction: column; /* Adjusts to stack content vertically if needed */
}

/* 5 Day Forecast detail styling */
#forecast-container {
  display: flex;
  justify-content: space-between;
  /* padding: 20px;
  position: relative;  */
}

#five-day-forecast {
  display: flex;
  justify-content: space-between;
  flex: 3;
  padding-right: 10px;
}

.forecast-day {  
  text-align: center;
  font-family: 'Nunito', sans-serif;
  flex: 1;
}

.forecast-day img {   /*  weather condition icon  */
  width: 40px;
  height: 40px;
  margin: 5px auto;
}

/* Footer styling */
footer {
    /* position: sticky; */
    grid-area: footer;
    padding: 10px;
    text-align: center;
} 

/* Toggle Container styling */
.toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Toggle btn styling */
.toggle-btn {
    background-color: #00000044;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.372);
}

/* Toggle btn hover styling */
.toggle-btn:hover {
    background-color: #989898; /* "toggle" btn background hover color */
}

/* Seaarch bar container styling */
.search-container {
    margin-top: 20px; /* Adds space above the search bar */
    margin-bottom: 20px; /* Adds space below the time */
}

/* Seaarch bar: city-input styling */
#city-input {
    width: 200px; 
    padding: 8px;
    font-size: 16px;
    border: 3px solid #000000; /* Search bar border-color */
    border-radius: 5px;
    background-color: rgb(255, 255, 255); /* Search bar background-color */
    outline: none;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.372);
}

/* Seaarch bar: "Get Weather" btn styling */
#btn-get-city-weather {
    background-color: #000000; /* "Get Weather" btn background */
    color: rgb(255, 255, 255); /* "Get Weather" btn text */
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.372);
}

/* Seaarch bar: "Get Weather" btn hover styling */
#btn-get-city-weather:hover {
    background-color: #989898; /* "Get Weather" btn background hover color */
}

/* Mobile */
@media only screen and (max-width: 768px) {

    #wrapper {
        display: grid;
        grid-template-areas: 
        'header'
        'main'
        'section1'
        'section2'
        'footer';
    }

    main {
        padding: 10px;
        text-align: center;
    }


    #weather-overview {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centers the content horizontally */
        justify-content: center; /* Centers the content vertically */
        text-align: center;
        width: 100%; /* Ensures full width */

    }

    #weather-overview #weather-icon {
        width: 40px;
        height: 40px;
        display: inline;
    }

    #weather-overview #weather-condition {
        font-size: 16px;
        margin-top: 10px; 
        /* margin: auto 10px; */
    }

    #weather-overview #temperature {
        font-size: 50px;
        color: #fff;    
        margin-top: 10px;
        font-weight: bold;
        text-align: center;

    }

    #weather-overview #weather-details
    {
        color: #fff;
        font-size: 16px;
        margin: auto 10px;

    }

}

/* Desktop */
@media only screen and (min-width: 769px){


  #wrapper {
        display: grid;
        grid-template-areas: 
        'header header'
        'main main'
        'section1 section2'
        'footer footer';
    }

    main {
        padding: 20px;
    }

    #weather-overview #weather-icon {
        width: 50px;
        height: 50px;
    }

    #weather-overview #weather-condition {
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
    }

    #weather-overview #temperature {
        font-size: 50px;  
        margin-top: 10px;
        font-weight: bold;
    }
}
